<h2>Welcome My Shop</h2>
<a routerLink='addProduct'> Add Product</a> <br><br>
<a routerLink='GetComponent'> Get Product</a><br><br>
<a routerLink='updateComponent'>Update Product</a><br><br>
<a routerLink='registeront'>Register Ont Id</a><br><br>
<a routerLink="orderProduct">Order Product</a><br><br>
<a routerLink='cancelorder'>Cancel Order</a><br><br>
<a routerLink='cancelProdct'>Cancel Product</a><br><br>
<a routerLink='getOrder'>Get Order Details</a><br><br>
 <router-outlet></router-outlet> 

<!-- <app-get></app-get> -->